@import url("reset.css");
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap');
html, body {
    background: #253141;
    font-family: 'Montserrat', sans-serif;

}
header {
    display: flex;
    justify-content: space-between;
    padding: 30px 30px;
}
header .left-menu {
    display: flex;
}
header .left-menu .logo {
    font-size: 2rem;
    color: white;
    font-weight: 700;
}
header .left-menu .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}
header .left-menu .menu a {
    color: rgba(255,255,255,.6);
    text-decoration: none;
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: 300;
}
header .right-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
header .right-menu .language {
    color: rgba(255,255,255,.6);
    text-decoration: none;
    padding: 0 60px 0 0;
    text-transform: uppercase;
    font-weight: 300;
}
header .right-menu .signin {
    background: #0375d5;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: .85rem;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}
.container {
    width: 960px;
    margin: 0 auto;
}
#featured {

}
#featured .videos {
    display: grid;
    grid-template-columns: 1fr 1fr 640px 1fr 1fr;
    grid-gap: 10px;
}
#featured .videos .video {
    background: white;
}
#featured .videos .video.center {
    width: 640px;
    height: 360px;
    background: rgb(218, 11, 11);
}